<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= pageTitle %></title>
</head>

<body ng-app="Es6App">

<section>
  <h3>Server Rendering</h3>

  <ul>
    <li>
      addResult: <%= addResult %> <-- should be 2
    </li>
    <li>
      substractResult: <%= substractResult %> <-- should be 8
    </li>
  </ul>
</section>

<section>
  <h3>Client Rendering : our component</h3>

  <ul>
    <shiny></shiny>
  </ul>
</section>

<section>
  <h3>Client Rendering : legacy</h3>

  <ul>
    <li>
      <legacy></legacy> <-- should show 'Hello !'
    </li>
    <li>
      <legacy-shared></legacy-shared> <-- should show 'Hi !'
    </li>
    <li>
      js: <span id="legacy-js">I'm blue</span> <-- should be blue
    </li>

  </ul>
</section>

<script src="/dist/app.js"></script>

</body>
</html>